!#include ".Xresources.d/xterm"
#include ".Xresources.d/xterm_solarized_dark"
!#include ".Xresources.d/xterm_solarized_light"
!#include ".Xresources.d/urxvt"
!#include ".Xresources.d/urxvt_black"
